@font-face {
  font-family: google;
  src: url(./../assets/font/GoogleSans-Regular.ttf);
}

$primary-color: #cd4559;
$secondary-color: #8593a3;

$font-primary: #2c3a47;
$font-secondary: #969da8;

$header-font: #1e272e;

$font-stack: google, serif;
